<div class="chat-pane">
    <div class="chat-header">
      <h2>{{ clubTitle }}</h2>
      <button class="btn-leave" @click="confirmLeave">Leave Club</button>
    </div>

    <div class="messages-wrap">
        <p v-if="areMessagesLoading"><em>Loading messages...</em></p>
        <template v-else>
            <div class="day-label">Today</div>
            <ul>
            <message-item
                v-for="msg of sortedMessages"
                :key="msg.url"
                :actor="msg.actor"
                :content="msg.value.content"
                :published="msg.value.published"
                :is-owner="msg.actor === $graffitiSession.value?.actor"
                :deleting="isDeleting.has(msg.url)"
                :saved="savedUrls.has(msg.url)"
                @delete="deleteMessage(msg)"
                @save="saveMessage(msg)"></message-item>
            <li v-if="sortedMessages.length === 0">No messages yet.</li>
            </ul>
        </template>
    </div>

    <form class="message-input-row" @submit.prevent="sendMessage">
        <button class="btn-attach" type="button">+</button>
        <input type="text" v-model="myMessage" placeholder="Type a message..." />
        <button class="btn-send" type="submit" :disabled="!myMessage || isSending">➤</button>
    </form>
</div>
